@model MotorcycleEditViewModel
@{
    ViewData[$"{DataResource.Title}"] = "Edit Motorcycle";
}


<div class="w-full relative">
    <div class="w-3/5 mx-auto">
        <form class="w-full max-w-xl px-8 py-6 mb-4 mx-auto" asp-controller="Motorcycle" asp-action="Edit" method="post" enctype="multipart/form-data">

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2">
                        Brand
                    </label>
                    <select autocomplete="off" class="text-md block px-3 py-2 rounded-lg w-full
                bg-white border-2 border-gray-300 placeholder-gray-600
                shadow-md focus:placeholder-gray-500 focus:bg-white
                focus:border-gray-600 focus:outline-none" type="text" id="brand-select" data-selected="@Model.BrandId">
                    </select>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2">
                        Model
                    </label>
                    <select asp-for="ModelId" autocomplete="off" class="text-md block px-3 py-2 rounded-lg w-full
                bg-white border-2 border-gray-300 placeholder-gray-600
                shadow-md focus:placeholder-gray-500 focus:bg-white
                focus:border-gray-600 focus:outline-none" type="text" id="model-select" data-selected="@Model.ModelId">
                    </select>
                    <span asp-validation-for="ModelId" class="text-red-500 text-xs italic font-medium"></span>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2">
                        VIN-code
                    </label>
                    <input autocomplete="off" class="text-md block px-3 py-2 rounded-lg w-full
                                    bg-white border-2 border-gray-300 text-gray-600
                                    shadow-md focus:placeholder-gray-500 focus:bg-white
                                    focus:border-gray-600 focus:outline-none" type="text" value="@Model.VIN" disabled>
                    <span class="text-red-500 text-xs italic font-medium"></span>
                </div>
            </div>


            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-1/2 px-3">
                    <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2">
                        Type
                    </label>
                    <select asp-for="TypeId" autocomplete="off" class="text-md block px-3 py-2 rounded-lg w-full
                                bg-white border-2 border-gray-300 placeholder-gray-600
                                shadow-md focus:placeholder-gray-500 focus:bg-white
                                focus:border-gray-600 focus:outline-none" type="text" id="type-select" data-selected="@Model.TypeId">
                    </select>
                    <span asp-validation-for="TypeId"
                          class="text-red-500 text-xs italic font-medium"></span>
                </div>
                <div class="w-1/2 px-3">
                    <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2">
                        Engine Disp.
                    </label>
                    <select asp-for="EngineDisplacement" autocomplete="off" class="text-md block px-3 py-2 rounded-lg w-full
                            bg-white border-2 border-gray-300 placeholder-gray-600
                            shadow-md focus:placeholder-gray-500 focus:bg-white
                            focus:border-gray-600 focus:outline-none" type="text" id="engine-disp-select" data-engineDisp="@Model.EngineDisplacement">
                    </select>
                    <span asp-validation-for="EngineDisplacement"
                          class="text-red-500 text-xs italic font-medium"></span>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-2/3 px-3">
                    <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2">
                        Photo
                    </label>
                    <input asp-for="Photo" type="file" autocomplete="off" class="text-md block px-3 py-1.5 rounded-lg w-full
                                    bg-white border-2 border-gray-300 placeholder-gray-600
                                    shadow-md focus:placeholder-gray-500 focus:bg-white
                                    focus:border-gray-600 focus:outline-none">
                    <span asp-validation-for="Photo" class="text-red-500 text-xs italic font-medium"></span>
                </div>
                <div class="w-1/3 px-3">
                    <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2">
                        Visible
                    </label>
                    <div class="w-full block text-gray-600 font-bold flex flex-col justify-center h-3/5">
                        <div class="flex flex-row">
                            <input asp-for="Visible" class="mr-2 leading-tight" type="checkbox">
                            <span class="text-sm">
                                Visible to users
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2">
                        Manufactured
                    </label>
                    <input asp-for="Manufactured" autocomplete="off" class="text-md block px-3 py-2 rounded-lg w-full
                                    bg-white border-2 border-gray-300 placeholder-gray-600
                                    shadow-md focus:placeholder-gray-500 focus:bg-white
                                    focus:border-gray-600 focus:outline-none" type="date" value="@Model.Manufactured.ToString("yyyy-MM-dd")">
                    <span asp-validation-for="Manufactured" class="text-red-500 text-xs italic font-medium"></span>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2">
                        Price, $
                    </label>
                    <input asp-for="Price" autocomplete="off" class="text-md block px-3 py-2 rounded-lg w-full
                                    bg-white border-2 border-gray-300 placeholder-gray-600
                                    shadow-md focus:placeholder-gray-500 focus:bg-white
                                    focus:border-gray-600 focus:outline-none" type="number"
                           step="0.01">
                    <span asp-validation-for="Price" class="text-red-500 text-xs italic font-medium"></span>
                </div>
            </div>

            <div class="flex items-center justify-between">
                <button type="submit" class="mt-3 text-lg font-semibold
                                bg-orange-600 w-full text-white rounded-lg
                                    px-6 py-3 block shadow-xl hover:text-white hover:bg-orange-800">
                    Edit Motorcycle
                </button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/MotorcycleEdit.js"></script>