@model MotorcyclePricesViewModel
@{
    ViewData[$"{DataResource.Title}"] = "Prices";
}

<div class="w-4/5 flex flex-row mx-auto">

    <div class="w-1/3 flex flex-col mx-1">
        <h2 class="text-2xl text-gray-700 font-semibold title-font m-3 text-center">Average price by Models</h2>
        <table class="min-w-full">
            <thead>
                <tr>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Model
                    </th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Price
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white" id="orders-table">
                @foreach (var brand in Model.PricesByModels)
                {
                    <tr class="border-b border-gray-200">
                        <td class="px-6 py-4 whitespace-no-wrap text-center" colspan="2">
                            <div class="text-md leading-5 text-gray-700 font-semibold">
                                @brand.BrandName
                            </div>
                        </td>
                    </tr>
                    @foreach (var mdl in brand.Models)
                    {
                        <tr class="border-b border-gray-200">
                            <td class="px-6 py-4 whitespace-no-wrap">
                                <div class="text-md leading-5 text-gray-900">@mdl.Key</div>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                <div class="text-md leading-5 text-gray-900">@mdl.Value</div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="w-1/3 flex flex-col mx-1">
        <h2 class="text-2xl text-gray-700 font-semibold title-font m-3 text-center">Average price by Types</h2>
        <table class="min-w-full">
            <thead>
                <tr>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Type
                    </th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Price
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white" id="orders-table">
                @foreach (var type in Model.PricesByTypes)
                {
                    <tr class="border-b border-gray-200">
                        <td class="px-6 py-4 whitespace-no-wrap">
                            <div class="text-md leading-5 text-gray-900">@type.Key</div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                            <div class="text-md leading-5 text-gray-900">@type.Value</div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="w-1/3 flex flex-col mx-1">
        <h2 class="text-2xl text-gray-700 font-semibold title-font m-3 text-center">Average price by Brands</h2>
        <table class="min-w-full">
            <thead>
                <tr>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Brand
                    </th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Price
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white" id="orders-table">
                @foreach (var brand in Model.PricesByBrands)
                {
                    <tr class="border-b border-gray-200">
                        <td class="px-6 py-4 whitespace-no-wrap">
                            <div class="text-md leading-5 text-gray-900">@brand.Key</div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                            <div class="text-md leading-5 text-gray-900">@brand.Value</div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>