@model MotorcycleSettingsViewModel
@{
    ViewData[$"{DataResource.Title}"] = "Motorcycles";
}


<div class="w-3/5 mx-auto mt-4">
    <div class="flex flex-col">
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
            <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                <table class="min-w-full">
                    <thead>
                        <tr>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                General Info
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Other
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Visible
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white" id="accounts-table">
                        @foreach (var moto in Model.Motorcycles)
                        {
                            <tr class="border-b border-gray-200">
                                <td class="px-6 py-4 whitespace-no-wrap">
                                    <div class="flex items-center">
                                        <div class="flex-shrink-0 h-10 w-10">
                                            @if (!string.IsNullOrEmpty(@moto.Photo))
                                            {
                                                <img class="h-10 w-10 rounded-full" src="@moto.Photo" alt="" />
                                            }
                                            else
                                            {
                                                <img class="h-10 w-10 rounded-full" src="~/images/Silhouette.jpg" alt="" />
                                            }
                                        </div>
                                        <div class="ml-4">
                                            <div class="text-sm leading-5 font-medium text-gray-900">@moto.Brand @moto.Model @moto.EngineDisplacement CM<sup>3</sup></div>
                                            <div class="text-sm leading-5 text-gray-500">@moto.VIN</div>
                                        </div>
                                    </div>
                                </td>

                                <td class="px-6 py-4 whitespace-no-wrap">
                                    <div class="text-sm leading-5 text-gray-900">@moto.Type</div>
                                    <div class="text-sm leading-5 text-gray-500">@moto.Manufactured</div>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                    @if (@moto.Visible == true)
                                    {
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                            Visible
                                        </span>
                                    }
                                    else if (@moto.Visible == false)
                                    {
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                                            Hidden
                                        </span>
                                    }

                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap">
                                    <a asp-controller="Motorcycle" asp-action="Edit" asp-route-id="@moto.VIN" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800 ml-0 mr-3">
                                        Edit Model
                                    </a>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a asp-controller="Motorcycle" asp-action="Delete" asp-route-id="@moto.VIN" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800 mx-3">
                                            Delete Model
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/js/AccountSettings.js"></script>